---
layout: default
title:  関西 Ruby コミュニティー 紹介 (2025年5月 時点)
---

<div class="row">
  <div class="col-lg-12">
    <h2>コミュニティー マップ</h2>
    <div id="osm"></div>
  </div>
</div>

{% include osm.liquid %}

<style type="text/css">
  .well {
    background-color: #fffffe;
    min-height: 145px;
  }
</style>

{% include communities.liquid %}

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Rails Girls & Rails Girls More!</h2>
  </div>

  <div class="col-lg-6">
    <div class="well col-lg-12">
      <div class="group-logo col-lg-3">
        <a class="group-link" href="https://railsgirls-kobe.doorkeeper.jp/">
          <img class="group-img img-responsive" src="{{ site.baseurl }}/assets/img/railsgirls-kobe.jpg">
        </a>
      </div>
      <div class="col-lg-9">
        <p class="group-name">
          <a href="https://railsgirls-kobe.doorkeeper.jp/">Rails Girls Kobe</a>
        </p>
        <ol>
          <li>2015年9月</li>
          <li>2016年11月</li>
          <li>2017年9月</li>
          <li>2019年1月</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="well col-lg-12">
      <div class="group-logo col-lg-3">
        <a class="group-link" href="https://railsgirls-kyoto.doorkeeper.jp/">
          <img class="group-img img-responsive" src="{{ site.baseurl }}/assets/img/railsgirls-kyoto.png">
        </a>
      </div>
      <div class="col-lg-9">
        <p class="group-name">
          <a href="https://railsgirls-kyoto.doorkeeper.jp/">Rails Girls Kyoto</a>
        </p>
        <ol>
          <li>2012年12月</li>
          <li>2014年11月</li>
          <li>2015年4月</li>
          <li>2015年11月</li>
          <li>2016年9月</li>
          <li>2016年11月</li>
          <li>2017年3月</li>
          <li>2017年11月</li>
          <li>2018年12月</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="well col-lg-12">
      <div class="group-logo col-lg-3">
        <a class="group-link" href="https://railsgirls-nara.doorkeeper.jp/">
          <img class="group-img img-responsive" src="http://railsgirls.com/images/rg-nara.png">
        </a>
      </div>
      <div class="col-lg-9">
        <p class="group-name">
          <a href="https://railsgirls-nara.doorkeeper.jp/">Rails Girls Nara</a>
        </p>
        <ol>
          <li>2014年3月</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="well col-lg-12">
      <div class="group-logo col-lg-3">
        <a class="group-link" href="https://railsgirls-osaka.doorkeeper.jp/">
          <img class="group-img img-responsive" src="https://dzpp79ucibp5a.cloudfront.net/groups_logos/2549_normal_1554649393_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9B%E3%82%99%E3%83%BC%E3%83%88%E3%82%99_1.png">
        </a>
        </a>
      </div>
      <div class="col-lg-9">
        <p class="group-name">
          <a href="https://railsgirls-osaka.doorkeeper.jp/">Rails Girls Osaka</a>
        </p>
        <ol>
          <li>2014年6月</li>
          <li>2015年6月</li>
          <li>2015年9月</li>
          <li>2015年11月</li>
          <li>2015年12月</li>
          <li>2016年1月</li>
          <li>2016年2月</li>
          <li>2016年6月</li>
          <li>2016年7月</li>
          <li>2017年2月</li>
          <li>2018年6月</li>
          <li>2019年6月</li>
        </ol>
      </div>
    </div>
  </div>
</div>
