<style type="text/css">
  #osm {
    width:  100%;
    height: 380px;
    border: #5f9ea0 solid 2px;
    margin: 0 auto;
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
<script type="text/javascript" src="https://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<script type="text/javascript">
  var map = L.map("osm", {
    center: new L.LatLng(34.9, 135.5),
    zoom:   8,
  });

  var url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var attribution = 'map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  var layer = L.tileLayer(url, {
    maxZoom:     20,
    attribution: attribution,
  });

  map.addLayer(layer);

  var icon = L.icon({
    iconUrl:     "{{ site.baseurl}}/assets/img/rubyslush.png",
    iconSize:    [30, 30],
    iconAnchor:  [15, 30],
    popupAnchor: [0, -20],
  });

  var communities = [
    {name: "AKASHI.rb",             position: [34.647585371519014, 134.9919533251141], url: "https://akashi-rb.connpass.com/"},
    {name: "Amagasaki.rb",          position: [34.7332851, 135.4316003],               url: "https://kokucheese.com/main/tag/amagasakirb/"},
    {name: "Cherry.rb",             position: [34.6846493, 135.5037059],               url: "https://cherryrb.doorkeeper.jp/"},
    {name: "DDD.rb",                position: [34.684688, 135.50700189999998],         url: "https://dddrb.doorkeeper.jp/"},
    {name: "Hommachi.rb",           position: [34.6829263, 135.49742760000004],        url: "https://hommachirb.doorkeeper.jp/"},
    {name: "神戸.rb",               position: [34.694927, 135.19739979999997],         url: "https://koberb.doorkeeper.jp/"},
    {name: "Kyobashi.rb",           position: [34.69636756761005, 135.52951709628036], url: "https://kyobashirb.connpass.com/"},
    {name: "Kyoto.rb",              position: [35.0168192, 135.76031320000004],        url: "https://kyotorb.connpass.com/"},
    {name: "Medaka.rb",             position: [34.82651269999999, 135.4129451],        url: "https://medakarb.doorkeeper.jp/"},
    {name: "Minami.rb",             position: [34.662425, 135.503344],                 url: "http://qwik.jp/minamirb/"},
    {name: "長堀橋.rb",             position: [34.67718188511308, 135.50659015774727], url: "https://nagahoribashirb.connpass.com//"},
    {name: "naniwa.rb",             position: [34.6650549, 135.4996093],               url: "https://naniwarb.doorkeeper.jp/"},
    {name: "西脇.rb",               position: [34.9731955, 134.9554349],               url: "https://nishiwaki-koberb.doorkeeper.jp"},
    {name: "Rails Follow-up Kobe",  position: [34.7224488, 135.29165060000003],        url: "https://rails-followup-kobe.doorkeeper.jp/"},
    {name: "Rails Follow-up Osaka", position: [34.70280, 135.49865],                   url: "https://rails-follow-up-osaka.doorkeeper.jp/"},
    {name: "Ruby舞鶴",              position: [35.4415531, 135.3302949],               url: "https://ruby-maizuru.connpass.com/"},
    {name: "Shinosaka.rb",          position: [34.7369409, 135.49895119999996],        url: "https://shinosakarb.doorkeeper.jp/"},
    {name: "Wakayama.rb",           position: [34.2306520595458, 135.1676895618766],   url: "https://wakayamarb.doorkeeper.jp/"},
  ];

  for (var community of communities) {
    var link = `<a href="${community.url}">${community.name}</a>`;
    L.marker(community.position, {icon: icon}).bindPopup(link).openPopup().addTo(map);
  }
</script>
